{ 
    "agent": {
        "metrics_collection_interval": 60,
        "region": "{{aws_cwa_region}}",
        "logfile": "/opt/aws/amazon-cloudwatch-agent/logs/amazon-cloudwatch-agent.log",
        "debug": false
    },
      "metrics": {
        "metrics_collected": {
          "disk": {
            "resources": [
              "*"
            ],
            "measurement": [
              {"name": "disk_used_percent" , "unit": "Percent"}
            ],
             "ignore_file_system_types": [
              "sysfs", "devtmpfs"
            ],
            "metrics_collection_interval": 60
          },
          "mem": {
            "measurement": [
              {"name": "mem_used_percent", "unit": "Percent"}
            ],
            "metrics_collection_interval": 60
          }
        },
        "append_dimensions": {
          "ImageId": "${aws:ImageId}",
          "InstanceId": "${aws:InstanceId}",
          "InstanceType": "${aws:InstanceType}",
          "AutoScalingGroupName": "${aws:AutoScalingGroupName}"
        },
        "aggregation_dimensions" : [["ImageId"], ["InstanceId", "InstanceType"], ["d1"],[]],
        "force_flush_interval" : 30
      },
    {% if aws_cwa_logfiles|length > 0 %}
        "logs": {
            "logs_collected": {
                "files": {
                    "collect_list": [
                        {% for logfile in aws_cwa_logfiles %}
                            {
                                "file_path": "{{ logfile.file_path }}",
                                "log_group_name": "{{ logfile.log_group_name }}",
                                "log_stream_name": "{instance_id}",
                                "timestamp_format": "{{logfile.timestamp_format}}",
                                "multi_line_start_pattern": "{timestamp_format}",
                                "timezone": "{{logfile.timezone}}"
                            }{%if not loop.last %},{% endif %}

                        {% endfor %}
                                    ]
                        }
        }
    }
{% endif %}
}
